<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
</head>
<body>
    
    <h6>ALGO SOBRE NOSOTROS </h6>

    <h6>Somos un equipo interdisciplinario especializado en Datos. Nuestra formación y experiencia diversa, se complementa para la construcción colectiva de las mejores aptitudes de un Data Engineer, Data Scientist y Data Viz. </h6>


    <h6>ALGO SOBRE EL PROYECTO </h6>

    <h6>Por un error administrativo de un agente Externo, fuimos asignados a un curso de Python con orientación a desarrollo web y no a manipulación de datos. Aún así, y lejos de abandonar el curso, sacamos el mayor provecho durante el primer tramo focalizado en Python –altamente motivados por su aplicación a nuestro ámbito de interés- e intentamos hacer lo que pudimos en el último tramo focalizado en Django –donde nos enfrentamos con nuestras mayores limitaciones-.
        Tratamos de reorientar la propuesta del Trabajo Final a una temática familiar y de interés para nosotros, buscando la forma de que lo aprendido en este curso nos permita sumar una nueva aptitud al equipo: expresar en un prototipo de desarrollo in house, una necesidad para su posterior desarrollo terciarizado. 
        </h6>


</body>
</html>