<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA DE SUCURSALES</title>
</head>
<body>
    <h1>ALTA DE SUCURSALES</h1>

    <form action="{% url 'sucursales' %}" method="POST">{% csrf_token %}

        <table>
            {{formulario.as_table}}        
        </table>
        <input type="submit" value="ENVIAR">    
        <p></p>
        <a href="inicio"> Ir a Inicio</a>
    </form>

</body>
</html>